.skyblue{
    color: #00ffdb
}

.redpink{
    color: #ff004d;
}

.heavygrey{
    color: #838166;
}

.lightblack{
    background-color: #1d1d1d;
}

.midblack{
    color: #181818;
}

.white{
    color:  #fff;
}